@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

html,
body {
  font-family: 'Inter', sans-serif;
}

html, body, #root {
  position: relative;
  min-height: 100vh;
}
